
.main-content {
    background-color: #fefefe;
}

.main-content .wrapper-main {
    width: 830px;
    float: left;
    padding-bottom: 20px;
}

.main-content .wrapper-slide {
    width: 340px;
    float: right;
}

#intro .body .intro-item {
    height: 85px;
    display: table;
    border-spacing: 10px;
    background-color: #f6f6f6;
    width: 410px;
    margin-bottom: 10px;
    float: left;
}

#intro .body .intro-item .img-box img {
    width: 130px;
    height: 85px;
}

#intro .body .intro-item .img-box {
    display: table-cell;
    vertical-align: middle;
    width: 130px;
    height: 85px;
    overflow: hidden;
}

#intro .body .intro-item .txt-area {
    display: table-cell;
    vertical-align: middle;
}

#intro .body .intro-item .txt-area h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    line-height: 18px;
}

#intro .body .intro-item .txt-area p {
    line-height: 16px;
    font-size: 12px;
}
